/* Global Styles */
html {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.lotusbackground {
    background-image: url(/img/lotus-pink-nature-flowers-39315.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.resumegrid {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 100%;
}

.content-wrapper {
    padding: 1em;
}

/* Header Styles */

.masthead{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr;
    padding: 1.5em;
    background-size: 100%;
    background-color: rgba(85, 40, 110, 0.8);
}

.profile-picture {
    border-radius: 20%;
    max-width: 300px;
    margin-right: 25px;
}

#NameTitle {
    border-radius: 25px;
    background: rgba(216, 180, 226, 0.8);
    padding: 1.2em;
}

/* Main Styles */

.main-content {
    padding: 1.1em;
    background-color: rgb(188, 150, 230, 0.8);
}

.work-experience {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.1em;
}

.work-experience-head {
    background-color: #55286E;
    padding: 1.2em;
    border-radius: 25px;
}


/* Footer Styles */

.colophon {
    padding: 1.1em;
    background-color: rgba(85, 40, 110, 0.8);
}

.contact-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.2em;
}

.contact-links h3 {
    background-color: #d8b4e2;
    grid-column: 2;
    margin: 0 auto;
    padding: 1.3em 2.5em;
    border-radius: 25px;
    border: white solid 5px;

}

.contact-links a {
    grid-row: 2;
    color: white;
    background-color: #d8b4e2;
    border: white solid 5px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 1.5em 3em;
    border-radius: 25px;
    transition: all 1s ease-out;
}

.contact-links a:hover {
    background-color: #55286E;
}

