/* Global Styles */
html {
    margin: 0;
    box-sizing: border-box;
    font-size: 2vw;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.lotusbackground {
    background-image: url(/img/lotus-pink-nature-flowers-39315.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.resumegrid {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 100%;
}

.content-wrapper {
    padding: 1em;
}

/* Header Styles */

.masthead {
    display: grid;
    padding: 1.5em;
    background-size: 100%;
    background-color: rgba(85, 40, 110, 0.8);
}

.profile-picture {
    margin: 0 auto;
    border-radius: 20%;
    max-width: 50%;
}

#NameTitle {
    border-radius: 25px;
    border: white solid 4px;
    background: rgba(216, 180, 226, 0.8);
    padding: 1.2em;
}

/* Main Styles */

.main-content {
    padding: 1.1em;
    background-color: rgb(188, 150, 230, 0.8);
}

.work-experience {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.1em;
}

.work-experience-head {
    background-color: #55286E;
    border: white solid 4px;
    padding: 1.2em;
    border-radius: 25px;
}


/* Footer Styles */

.colophon {
    padding: 1.1em;
    background-color: rgba(85, 40, 110, 0.8);
}

.contact-links {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-links h3 {
    text-align: center;
    background-color: #d8b4e2;
    border: white solid 4px;
    padding: 1.3em 2.5em;
    border-radius: 25px;
    margin: 0 auto;
}

.contact-links a {
    display: block;
    color: white;
    background-color: #d8b4e2;
    border: white solid 4px;
    text-decoration: none;
    text-align: center;
    font-size: 1.20rem;
    margin: 1.2em;
    padding: 1.5em 3em;
    border-radius: 25px;
    transition: all 1s ease-out;
}

.contact-links a:hover {
    background-color: #55286E;
}

/* Media Query for mid-size viewports */
/* ---------------------------------- */
@media only screen and (min-width: 600px) {
    /* header */
    /* ---------------------------------- */

    .masthead {
        grid-template-columns: 1fr 2fr;
    }

    
    /* footer */
    /* ---------------------------------- */
    .contact-links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.2em;
    }

    .contact-links a {
        grid-row: 2;
        margin: 0 auto;
    }

    .contact-links h3 {
        margin: 0 auto;

    }
    .contact-links h3 {
        grid-column: 2/3;
    }
}